.about {
  padding: 2em 0;
}

.header {
  display: flex;
}

.about p {
  width: 32vw;
  margin: 1vw;
  font-size: calc(0.75rem + 1vw);
  padding: 1vw;
}

.about img {
  margin: 2vw 0;
  width: 15vw;
}

.comment {
  margin: 1vw 2vw;
  text-align: start;
  font-size: calc(0.75rem + 1vw);
}

.comment section {
  border: 1px solid #8c8b8b;
  padding: 1vw ;
  border-radius: 1vw;
  margin: 2vw 0;
}
