.gallery img {
  width: 50vw;
  user-select: none;
  border: 1px solid #000;
  aspect-ratio: 5/3.5;
  object-fit: cover;
}

.gallery {
  margin: calc(1rem + 3vw) 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(2rem + 2vw);
}

.icon {
  cursor: pointer;
  margin: 1rem;
  transition: 0.3s ease;
}

.icon:hover {
  background: #959191;
  border-radius: 30%;
  padding-top: 0.35rem;
  color: #fff;
}

.icon:active{
    transform: translateY(5px);
}