.home {
  display: flex;
  font-size: calc(1rem + 2vw);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: 4vw;
  width: 50%;
}

.footerPic {
  position: fixed;
  bottom: 0;
  height: 40%;
  min-width: 100%;
}
